* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;

  }

  #bienvenida{
    background-color: #F2F2F2;
  }

  .ancho {
    width: 1200px;
    border: 1px black solid;
    margin: auto;
  }


h1 { 
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.logotec{
  width: 155px ;
  height: 170px;
  text-align: center;
  margin-top: 25px;
}

.fotocampus{
  object-fit: cover;
  width: 1100px;
}

.negritas{
  font-weight: bold;
}

.objetivo{
  border-radius: 40px;
  object-fit: cover;
  text-align: center;
  width: 400px;

  padding: 20px;
}

.apartado{
  width: 1100px;
  margin: auto;
  padding: 0px;
  text-align: center;
  border-top: 20px #cc9900 solid;
}

.apartados{
  border: 1px #800000 solid;
  width: 1100px;
  margin: auto;
  padding: 40px;
  border-radius: 25px;
}


.apartado2{
  
  width: 1100px;
  margin: auto;
  padding: 40px;
  border-radius: 25px;
  background-color: #F2F2F2;
}

.hr{
  width: 1060px;
  margin: auto;
  color: #800000 solid;
}

.vacio{
  border-top: 12px #800000 solid;
  width: 120px;
  margin: auto;
}

.parrafo{
margin-left: 38px;
}

.vacio1{
  border-top: 12px #cc9900 solid;
  width: 70px;
  margin-left: 40px;
}

.bienvenida{
  width: 540px;
}

.info{
  width: 1100px;
  margin: auto;
  padding: 0px;
  text-align: center;
  padding: 40px;
  margin-bottom: 60px;
  border-radius: 25px;
  color: whitesmoke;
  background-color: #800000;
  font-size: 12px;
}

.cinta{
  color: #cc9900;
  font-weight: bold;
  padding: 10px;
  font-size: 25px;
}

.rojo{
  color: #800000;
  font-weight: bold;
}

.asignaturas{
  padding-left: 60px;
}

.vineta{
  width: 33px;
  vertical-align: middle;
}

#objetivo{
  text-align: center;
}

#campo_de_trabajo{
  text-align: center;
}

.amarillo{
 color: #cc9900;
 font-weight: bold;
}

.campo_de_trabajo{
  border-radius: 40px;
  object-fit: cover;
  text-align: center;
  width: 400px;
  padding: 20px;
}



.Titulos{
  background-color: #800000;
  color: white;
  padding: 10px 30px;
  margin: 20px;
  display: inline-block;
  text-decoration: none;
  border-radius: 40px;
  }

  html{
    scroll-behavior: smooth;
  }
